# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Virtual Environment
venv/
.env

# Dataset
data/
train-faces/
combined-train/
*.zip

# Checkpoints
checkpoints/
checkpoints_train_faces/
checkpoints_combined_resnet18/
checkpoints_combined_resnet50/

# Kaggle submissions
sample_submission.csv
submission*.csv

# Dataset metadata
train_relationships.csv