# Dataset
data/
combined-train/
train-faces/

# Models
checkpoints/
checkpoints_combined_resnet18/
checkpoints_train_faces/
*.pth
*.pt

# Kaggle submission files
sample_submission.csv
submission_resnet18.csv
submission_train-faces_resnet18.csv

# Dataset metadata
train_relationships.csv

# Python
__pycache__/
.ipynb_checkpoints/

# VS Code
.vscode/    